.register {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #1C4E89 0%, #0D98D5 100%);
  margin: 0;
  display: grid;
  grid-template-areas: 
    "logo"
    "registercard";
  
  & .register-container {
    height: 100vh;
    padding: 2% 5% 5% 5%;
    display: grid;
    grid-template: 
      "logo registercard" auto/
      50% 50%;
    position: relative;
  }

  & .register-container::after {
    content: '';
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 45%;
    width: 1px;
    background-color: white;
  }

  & img {
    margin: 15%;
    width: 50%;
    height: auto;
    grid-area: logo;
  }

  & .register-card {
    z-index: 2;
    grid-area: registercard;
    padding: 2rem 5rem 2rem 5rem;
    height: 90vh;
    border-radius: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 10px 10px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(20px);
    overflow-x: scroll; /* Asegura que la barra de scroll siempre sea visible */
    max-width: 100%; /* Asegúrate de que el contenedor tenga un ancho máximo definido */
    overflow-x: auto; /* Agregar scroll lateral */

    & h2 {
      color: #fff;
      font-size: var(--Display-Small-Size, 36px);
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 1rem;
    }

    & .register-form {
      display: grid;
      justify-items: start;
      grid-template-columns: minmax(0, 0.5fr) minmax(0, 0.5fr);
      grid-gap: 1rem;
      justify-items: center;

      & .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        & label {
          color: #fff;
          font-size: 0.9rem;
          margin-bottom: 0.5rem;
        }

        & input {
          padding: 0.8rem;
          border-radius: 5px;
          border: none;
          font-size: 1rem;
        }
      }
    }
    & div.uploadPhoto{
      color: #fff;
      grid-column: span 2;
      width: 100%;
    }
    & .register-button {
      background: black;
      color: white;
      padding: 0.8rem;
      border-radius: 5px;
      width: 80%;
      border: none;
      cursor: pointer;
      grid-column: span 2;
    }

    & .register-button:hover {
      background: #333;
    }

    & .login-link, & .terms-conditions {
      margin-top: 1rem;
      text-align: left;
      color: #fff;
      grid-column: span 2;

      & a {
        color: white;
        text-decoration: underline;
      }
    }

    & .terms-conditions {
      display: flex;
      align-items: center;
      width: 100%;

      & input {
        margin-right: 0.5rem;
      }
    }
  }
}