.dashboard{
    display:grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "actions"
    "actividad_academica"
    "calendario"
    "grafica"
    "personal_information"
    "last_classes";
    overflow-x: scroll; /* Asegura que la barra de scroll siempre sea visible */
    max-width: 100%; /* Asegúrate de que el contenedor tenga un ancho máximo definido */
    overflow-x: auto; /* Agregar scroll lateral */

    & div.dashboardcontainer{
        display: grid;
        height: 100vh;
        grid-template: 
        "actions actions actions" 10%
        "actividad_academica actividad_academica personal_information" 20%
        "grafica calendario personal_information" auto
        "last_classes last_classes personal_information" auto/
         30% 30% auto; 
        gap: 10px;
        & div.filtrosandbackbtn{
            grid-area: actions;
        }
        & div.resumenDeActividadAcademica{
            background-color: aqua;
            grid-area: actividad_academica;
        }
        & div.calendario{
            background-color: blue;
            grid-area: calendario;
        }
        & div.grafica{
            background-color: brown;
            grid-area: grafica;
        }
        & div.informacionDetalladaEstudiante{
            background-color: burlywood;
            grid-area: personal_information;
            overflow-x: scroll; /* Asegura que la barra de scroll siempre sea visible */
            max-width: 100%; /* Asegúrate de que el contenedor tenga un ancho máximo definido */
            overflow-x: auto; /* Agregar scroll lateral */
        }
        & div.ultimasclasesvistas{
            background-color: chartreuse;
            grid-area: last_classes;
        }
    }
}


@media screen and (max-width: 600px) {
    .dashboard {
        overflow-x: scroll; /* Asegura que la barra de scroll siempre sea visible */
        max-width: 100%; /* Asegúrate de que el contenedor tenga un ancho máximo definido */
        overflow-x: auto; /* Agregar scroll lateral */
        & div.dashboardcontainer{
            height: auto;
            grid-template: 
            "actions" 40px
            "actividad_academica" 15%
            "grafica" auto
            "calendario" auto
            "last_classes" auto
            "personal_information" auto/
            auto; 
        }
    }

}