
.dashboard-group{
    display:grid;
    width: 100vw;
    grid-template-areas: 
    "tituloynotificaciones"
    "form"
    "personal_information";
    
    overflow-x: scroll; /* Asegura que la barra de scroll siempre sea visible */
    max-width: 100%; /* Asegúrate de que el contenedor tenga un ancho máximo definido */
    overflow-x: auto; /* Agregar scroll lateral */
    background-color: #D1D9E2;
    padding: 10px;

    & div.dashboardcontainerform{
        display: grid;
        margin-bottom: 50px;
        grid-template:
        "tituloynotificaciones tituloynotificaciones"10% 
        "form personal_information" auto/
        auto auto; 
        gap: 10px;
        & div.tituloynotificaciones{
            background-color: white;
            grid-area: tituloynotificaciones;
            border-radius: 10px;
            display: flex;
            float: right;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            & div{
                display: flex;
                float: right;
                gap: 50px;
                align-items: center;
            }
        }
        & div.form{
            border-radius: 10px;
            background-color: white;
            grid-area: form;
            padding: 20px 50px 20px 50px;
            display: grid;
            grid-template-areas: 
            "hours"
            "reson"
            "cancelation"
            "button"
            "student-attendance";
            & form{
                display: grid;
                grid-template: 
                "hours reson" auto
                "student-attendance student-attendance" auto
                "cancelation cancelation" auto 
                "button button" auto/
                50% 50%;
                gap: 20px;
                & div.hours{
                    grid-area: hours;
                    float: left;
                    gap: 20px;
                    align-items: center;
                }
                & div.reson{
                    grid-area: reson;
                    float: left;
                    gap: 20px;
                    align-items: center;
                }
                & div.cancelation{
                    grid-area: cancelation;
                    float: left;
                    gap: 20px;
                    align-items: center;
                }
                div.student-attendance{
                    grid-area: student-attendance;
                }
                & Button{
                    grid-area: button;
                    & Button{
                        width: 100%;
                    }
                }
            }
        }
        
        & div.informacionDetalladaEstudiante{
            padding: 50px;
            background-color: white;
            border-radius: 10px;
            grid-area: personal_information;
        }
        & div.ultimasclasesvistas{
            background-color: white;
            border-radius: 10px;
            grid-area: last_classes;
        }
    }
}
@media screen and (max-width: 1050px) {
    .dashboard-group div.dashboardcontainerform div.form form{
        display: grid;
        grid-template: 
                "hours" auto
                "reson" auto
                "student-attendance" auto
                "cancelation" auto 
                "button" auto/
                auto;
    }
    }

@media screen and (max-width: 900px) {
    .dashboard-group {
        & div.dashboardcontainerform{
            grid-template:
                "tituloynotificaciones"10% 
                "form" auto
                "personal_information" auto/
                auto; 
                & div.form{
                    padding: 5px 5px 5px 5px;
                }
                & div.informacionDetalladaEstudiante{
                    padding: 10px;
                }
        }
    }

}